.content, html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #1f2937;
    height: 200%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content * {
    background-color: #1f2937;
    flex: 1;
    font-family: "Roboto", sans-serif;
    height: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    flex: 0.2;
}

.header * {
    height: 100%;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.description {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.description * {
    height: 100%;
}

.description .left {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    flex: 3;
}

.description .left .awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    inline-size: 75%;
}

.description .left .text {
    color: #e5e7e8;
    font-size: 18px;
    inline-size: 75%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.description .left .button {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 20%;
}

.description .left .button button {
    background-color: #3882f6;
    border-radius: 10px;
    border: 0px solid white;
    color: #f9faf8;
    font-weight: bold;
    font-size: 17px;
    height: 50%;
}

.description .right {
    flex: 4;
    padding-top: 1%;
    padding-bottom: 1%;
}

.description .right .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #999999;
}

.information {
    flex: 1.8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.information .title {
    flex: 0.1;
    height: 100%;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.information .box-container {
    flex: 1;
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

.information .box-container .box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 0.5%;
}

.information .box-container .box .image {
    height: 100%;
    border-radius: 10px;
    border: 5px solid #3882f6;
    aspect-ratio: 1 / 1;
    flex: 9;
}

.information .box-container .box .text {
    width: 65%;
    text-align: center;
    padding-top: 2%;
}

.information * {
    background-color: white;
}

.quote {
    flex: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30%;
    background-color: #e5e7eb;
    padding-top: 2.5%;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    max-width: 60%;
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-top: 5%;
}

.quote .signature {
    font-size: 24px;
    font-weight: bold;
}

.quote * {
    background-color: #e5e7eb;
}

.links {
    display: flex;
    align-items: stretch;
}

.links ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: #e5e7eb;
    font-size: 18px;
}

.links li {
    text-align: right;
}