body * {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: stretch;
}

.links ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: #e5e7eb;
    font-size: 18px;
}